@use "../variables";

.footer {
    width: 100%;
    height: auto;
    padding-top: 9.6rem;
    background-image: url("/src/assets/images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: right -6.4rem top;
    background-size: auto 12.4rem;

    @media screen and (min-width: variables.$screen-lg) {
        background-position: top center;
        background-size: cover;
        padding-top: 10.1rem;
    }
}