@use "../variables";

.page {
    width: 100%;
    height: auto;
    background-color: variables.$color-black;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 4.8rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;

        @media screen and (min-width: variables.$screen-xs) {
            max-width: variables.$screen-xs;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: variables.$screen-sm) {
            max-width: variables.$screen-sm;
            padding-left: 2.4rem;
            padding-right: 2.4rem;
        }

        @media screen and (min-width: variables.$screen-md) {
            max-width: variables.$screen-md;
            padding-left: 3.2rem;
            padding-right: 3.2rem;
        }

        @media screen and (min-width: variables.$screen-lg) {
            max-width: variables.$screen-lg;
        }
    }
}
