@use "../variables";

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: variables.$color-social-medias;
    padding-bottom: 4.8rem;

    @media screen and (min-width: variables.$screen-lg) {
        padding-bottom: 7.2rem;
        background-color: transparent;
    }

    &__link {
        display: block;
        width: auto;
        height: auto;
        margin-right: 3.2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        width: 2.4rem;
        height: auto;
    }

    &__icon-path {
        fill: variables.$color-social-medias-icon;
        transition: fill 150ms;

        .social-medias__link:hover > .social-medias__icon > & {
            fill: variables.$color-social-medias-icon-hover;
        }
    }
}