@use "../variables";

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: variables.$color-footer-bg;
    padding-bottom: 4.8rem;

    @media screen and (min-width: variables.$screen-lg) {
        padding-bottom: 7.2rem;
        background-color: transparent;
    }

    &__icon {
        width: 2.4rem;
        height: auto;
        cursor: pointer;
        margin-right: 3.2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon-path {
        fill: variables.$color-grayish-blue;
        transition: fill 150ms;

        .social-medias__icon:hover & {
            fill: variables.$color-soft-red;
        }
    }
}