$screen-xs: 28rem;
$screen-sm: 36.8rem;
$screen-md: 56rem;
$screen-lg: 75.2rem;

$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-desaturated-blue: #2C2C44;
$color-very-dark-blue: hsl(235, 16%, 14%);

$time-xs: 5.3rem;
$time-sm: 6.8rem;
$time-sm: 10.6rem;
$time-lg: 14.8rem;

$pannel-xs: 5rem;
$pannel-sm: 6.4rem;
$pannel-md: 10rem;
$pannel-lg: 13.9rem;