$color-page-gradient: linear-gradient(to bottom, hsl(235, 16%, 14%), hsl(268, 23%, 14%));
$color-header-title: hsl(0, 0%, 100%);
$color-countdown-title: hsl(237, 18%, 59%);
$color-time-shadow: hsl(240, 16%, 12%);
$color-time-pannel-top: hsl(240, 21%, 22%);
$color-time-pannel-bottom: hsl(236, 21%, 26%);
$color-time-number-top: hsl(345, 61%, 57%);
$color-time-number-bottom: hsl(345, 95%, 68%);
$color-time-circle: hsl(240, 16%, 12%);
$color-social-medias: hsl(271, 23%, 18%);
$color-social-medias-icon: hsl(237, 18%, 59%);
$color-social-medias-icon-hover: hsl(345, 95%, 68%);

$screen-xs: 280px;
$screen-sm: 368px;
$screen-md: 560px;
$screen-lg: 752px;
$screen-xl: 1600px;

$display-xs: 5.3rem;
$display-sm: 6.8rem;
$display-md: 10.6rem;
$display-lg: 14.8rem;

$pannel-xs: 5rem;
$pannel-sm: 6.4rem;
$pannel-md: 10rem;
$pannel-lg: 14rem;

$number-size-xs: 2.4rem;
$number-size-sm: 3.6rem;
$number-size-md: 4.8rem;
$number-size-lg: 8rem;

$number-line-xs: 2.5rem;
$number-line-sm: 3.2rem;
$number-line-md: 5rem;
$number-line-lg: 7rem;